<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyApplication"
        tools:targetApi="31">
        <activity
            android:name=".acitivity.ChartActivity"
            android:exported="false" />
        <activity
            android:name=".acitivity.CertificateActivity"
            android:exported="false" />
        <activity
            android:name=".acitivity.AdminAssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".QuizList"
            android:exported="false" />
        <activity
            android:name=".acitivity.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".MainQuizActivity"
            android:exported="false" />
        <activity
            android:name=".acitivity.EditActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAssignment"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".ViewCreateAssignment" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".AssignmentList"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".GetYoutube" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".acitivity.CreateActivity"
            android:exported="false" />
        <activity
            android:name=".GradeAssignment"
            android:exported="false" />
        <activity
            android:name=".acitivity.UserActivity"
            android:exported="false" />
        <activity
            android:name=".acitivity.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".acitivity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".acitivity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>